*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing:border-box;
}
.profile-container{
    padding: 20px 15%;
    color: #353131;
    background-color: rgb(219, 219, 216);
}
 .cover-img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 14px;
    position:relative;
   
 } 
 .profile-details{
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
 }
 .pd-row{
    display: flex;
    align-items: flex-start;
 }
 .pd-image{
    width: 100px;
    margin-right: 20px;
    border-radius: 6px;
 }
 .pd-row div h3{
    font-size: 25px;
    font-weight: 600;
     }
     .pd-row div img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-top: 12px;
     }
.pd-right button{
    background: #1876f2;
    border:0;
    outline:0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.pd-right button img{
    height: 15px;
    margin-right: 10px;
}
.pd-right button:first-child{
    background: #e4e6eb;
    color: #000;
}
.pd-right{
    text-align:right;
}
.pd-right a{
    background: #e4e6eb;
    border-radius: 3px;
    padding: 12px;
    display: inline-flex;
    margin-top: 30px;
}
.pd-right a img{
    width: 20px;
}
 
    

.profile-container img p{
    color:#1876f2;
    text-align: cener;
}  
.container{
    width: 100%;
    min-height:100vh;
    background: #fcfafa;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top: 14px;
  }
  .cover-pic{
    width:300px;
    height:300px;
    display: block;
    object-fit:cover;
    object-position: center;
    margin-left: 14px;
    padding-right: 7px;
  }
  